{
  "extends": ["coffreo"],
  "rules": {
    "no-console": "off",
    "import/no-named-as-default": 0,
    "no-param-reassign": [2, { "props": false }],
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-underscore-dangle": "off",
    "jsx-a11y/label-has-for": "off",
    "function-paren-newline": "off",
    "react/jsx-no-bind": [2, {
      "ignoreRefs": true,
      "allowArrowFunctions": true,
      "allowBind": true
    }],
    "react/forbid-prop-types": 0
  }
}